.vs
*.user
*.ncrunchsolution
*.cache
/GaleriePhotos/__MACOSX
/GaleriePhotos/ffmpeg.exe
/GaleriePhotos/ffprobe.exe
*.crt
*.key
*.pfx
/GaleriePhotos/ClientApp/public/bundle.js.LICENSE.txt
/.vscode
/GaleriePhotos/ClientApp/.yarn/install-state.gz

# .NET build artifacts
bin/
obj/
